<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313374459486-5kl92vlupaffgbe620flt7l0jpqeams9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313374459486-5kl92vlupaffgbe620flt7l0jpqeams9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313374459486-81droj58ss8n5cpbj01sq82sq5mt8hhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNoOL2UfGwMgAeRLmwSLwjO1pbfLJRmnk</string>
	<key>GCM_SENDER_ID</key>
	<string>313374459486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samuel.THS-Connect</string>
	<key>PROJECT_ID</key>
	<string>ths-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>ths-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313374459486:ios:c25905312586556f</string>
	<key>DATABASE_URL</key>
	<string>https://ths-connect.firebaseio.com</string>
</dict>
</plist>